.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%
}
.hidden {
    display:none;
}

.rightside {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.leftside {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.centerbox{
    width:100%;
    text-align:center;
}
.textcenter{
    font-family: arial;
    vertical-align: middle;
    width: 100%;
    text-align:center;
}
.title {
    font-family: arial;
    font-size: 100pt;
    font-weight: bold;
    letter-spacing: -8px;
    text-align: center;
}
.content {
    font-family: arial;
    text-align: center;
}
.minititle {
    font-family: arial;
    font-size: 50pt;
    letter-spacing: -4px;
    font-weight: bold;
    text-align: left;
}

.makeline {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #666; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.online {
    background:#fff; 
    padding:0 10px; 
}

.inline {
    display: inline-block;
}

.link {
    font-weight: bold;
}

.footer{ 
/*    height: 40px; */ 
    position: fixed; 
    bottom:0%;
    width:100%;
    text-align: center;
    font-family: arial;
    font-size: small;
    z-index: 1;
    background:#fff; 
    border-top: 1px solid #999; 
}

.buttonspan{
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
}

.contactfader{
    margin-top: -18.5px;
    margin-bottom: 0px;
    overflow:hidden;
    white-space: nowrap;
}

a{
    color: black;
    text-decoration: none;
}