.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%
}
.hidden {
    display:none;
}

.rightside {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.leftside {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.centerbox{
    display:table;
}
.textcenter{
    font-family: arial;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.title {
    font-family: arial;
    font-size: 100pt;
    font-weight: bold;
    letter-spacing: -8px;
    text-align: center;
}

.infobox{ 
/*    height: 40px; */ 
    position: fixed; 
    bottom:0%;
    width:100%;
    text-align: center;
    font-family: arial;
    font-size: small;
}