.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%
}
.hidden {
    display:none;
}

.rightside {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.leftside {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.centerbox{
    width:100%;
    text-align:center;
}
.textcenter{
    font-family: arial;
    vertical-align: middle;
    width: 100%;
    text-align:center;
}
.title {
    font-family: arial;
    font-size: 100pt;
    font-weight: bold;
    letter-spacing: -8px;
    text-align: center;
}
.minititle {
    font-family: arial;
    font-size: 50pt;
    letter-spacing: -4px;
    font-weight: bold;
    text-align: left;
}

.inline {
    display: inline-block;
}

.link {
    font-weight: bold;
}

.footer{ 
/*    height: 40px; */ 
    position: fixed; 
    bottom:0%;
    width:100%;
    text-align: center;
    font-family: arial;
    font-size: small;
}

a{
    color: black;
    text-decoration: none;
}